extends layout.pug

block content
    .section
        .section-inner
            h1.section-inner__title
                div 🧨 
                | Build is working
            p.section-inner__caption You are ready for work!
            .section-inner-image
                img.section-inner-image__img(src=require("./../img/main.jpg").default)